# Carpetas generadas por NetBeans
/build/
/dist/
/nbproject/private/

# Archivos compilados
*.class

# Archivos temporales
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
*.swp
/target/

# Ignorar archivo de configuración local con credenciales
src/main/java/com/registro_alumno_qr/Config/ConexionDB.java

